.book-details{
    padding: 6rem 0;
}
.back-btn{
    margin-top: 7rem;
    margin-left: 20px;
    margin-bottom: 2.6rem;
    transition: var(--transition);
}
.back-btn:hover{
    color: var(--green-color);
}
.back-btn span{
    margin-left: 1rem;
}
.save-btn{
    padding: 14px 0px;
    border-radius: 10px;
    transition: var(--transition);
}
.save-btn:hover{
    background: #e7e7e7;
    color: var(--green-color);
}
.book-edit-content{
    gap: 4rem;
}
.book-details-img{
    max-height: 600px;
    overflow: hidden;
}
.book-details-img img{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book-details-date{
    border: #e7e7e7;
}
.book-details-textarea{
    border-radius: 5px;
    font-family: 'Railway', sans-serif;
    color: #363636;
    font-size: 16px;   
    padding: 10px 0 0 10px;
}
.book-edit-item{
    margin-bottom: 1.4rem;
}
.book-edit-item.description{
    opacity: 0.8;
}
.book-edit-info{
    overflow-y: scroll;
    max-height: 600px;
    padding: 1.4rem;
}
.book-edit-info::-webkit-scrollbar{
    width: 8px;
}
.book-edit-info::-webkit-scrollbar-track{
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.book-edit-info::-webkit-scrollbar-thumb{
    background-color: var(--green-color);
    outline: -1px solid slategray;
    border-radius: 8px;
}

@media screen and (min-width: 768px){
    .book-edit-content{
        grid-template-columns: 40% 60%;
        gap: 0
    }
    .book-edit-img{
        padding: 0 6rem 0 2rem;
    }
    .book-edit-img img{
        max-width: 100%;
    }
}